{% extends 'vulnerable/base.html' %}
{% load static %}
{% block head %}{% endblock %}

{% block form %}
<form class="form-ping" method="POST">
  <img class="mb-4" src="{% static "images/mlw.re.png" %}" alt="" width="128" height="128">
  <h1 class="h3 mb-3 font-weight-normal">Python Calculator</h1>

  {% csrf_token %}
  <label for="inputCode" class="sr-only">Mode</label>
  <select name="mode" id="inputMode" class="form-control">{% for mode in modes %}
      <option value="{{ mode }}">{{ mode }}</option>
  {% endfor %}</select>
  <label for="inputCode" class="sr-only">Formula</label>
  <input name="code" type="text" id="inputCode" class="form-control"
         placeholder="Python code" required autofocus>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Execute</button>
</form>
{% endblock %}

{% block help %}
  <div class="alert alert-warning" role="alert">
    {{ exploit|linebreaks }}
  </div>
  <div class="alert alert-primary" role="alert">
    <pre>{% for key, val in locals.items %}{{ key }}:{{ val }}
    {% endfor %}</pre>
  </div>
{% endblock %}

{% block output %}
  {% if errors %}<div class="alert alert-danger" role="alert">
    {{ errors }}
  </div>{% endif %}

  {% if output %}<div class="alert alert-success" role="alert">
    Output: <pre>{{ output|linebreaks }}</pre>
  </div>
  {% endif %}
{% endblock %}
