{% extends 'vulnerable/base.html' %}
{% load static %}


{% block form %}
<form class="form-ping" method="POST">
  <img class="mb-4" src="{% static "images/mlw.re.png" %}" alt="" width="128" height="128">
  <h1 class="h3 mb-3 font-weight-normal">Check your connectivity</h1>
  {% if errors %}<div class="alert alert-danger" role="alert">
    {{ errors }}
  </div>{% endif %}

  {% csrf_token %}
  <label for="inputMode" class="sr-only">Mode</label>
  <select name="mode" id="inputMode" class="form-control">{% for mode in modes %}
      <option value="{{ mode }}">{{ mode }}</option>
  {% endfor %}</select>
  <label for="inputIP" class="sr-only">IP address</label>
  <input name="ip" type="text" id="inputIP" class="form-control"
         placeholder="IP address" required autofocus>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Check it</button>
</form>
{% endblock %}

{% block middle_row %}
  <div class="align-self-center">
    {% if output %}<div class="alert alert-success" role="alert">
      Output: <pre>{{ output|linebreaks }}</pre>
    </div>{% endif %}
</div>
{% endblock %}

{% block help %}
  <div class="alert alert-warning" role="alert">
    {{ exploit|linebreaks }}
  </div>
  <div class="alert alert-primary" role="alert">
    <pre>{{ helper }}</pre>
  </div>
{% endblock %}

{% block output %}
  {% if errors %}<div class="alert alert-danger" role="alert">
    {{ errors }}
  </div>{% endif %}
{% endblock %}
